body,
html {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: bahnscrift, sans-serif;
}
.content {
  text-align: center;
  font-family: bahnscrift, sans-serif;
  color: red;
  display: table-cell;
  vertical-align: middle;
}
.content h1 {
  font-size: 6em;
  margin: 0.67em 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.content .logo {
  width: 100%;
  max-width: 500px;
}
.vc-cont {
  display: table;
  height: 93vh;
  width: 100%;
  text-align: center;
}
.topnav {
  height: 6vh;
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
  text-align: right;
}
.btn-parent {
  display: inline-block;
  height: 100%;
  margin: 0 2%;
}
.btn-parent .btn-content {
  display: table;
  height: 100%;
}
.btn-parent .btn-content a {
  display: table-cell;
  vertical-align: middle;
  color: grey;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}
.btn-parent .btn-content a span {
  border-radius: 25px;
  padding: 6px 20px;
  transition: 0.3s;
  background: url(ct-bkg-min.jpeg);
  background-size: 250px;
  background-position: left;
  color: white;
  border: 2px solid black;
}
.btn-parent .btn-content a span:hover,
.btn-parent .btn-content a span:active {
  background-position: right;
}
.signature {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px;
  color: #d3d3d3 !important;
}
.signature a {
  color: #d3d3d3;
  transition: 0.3s;
}
.signature a:hover {
  color: #a9a9a9;
}
@font-face {
  font-family: bahnscrift;
  src: url(bahnscrift.ttf);
}
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 4em !important;
  }
  .stache {
    width: 80%;
    max-width: 400px;
  }
}
